/*  ảnh background phía sau */

.xinlui {
    height: 100vh;
    width: 100vw;
    background-image: url(https://marketplace.canva.com/EAFJd1mhO-c/1/0/900w/canva-colorful-watercolor-painting-phone-wallpaper-qq02VzvX2Nc.jpg);
    background-clip: content-box;
    background-size: cover;
    position: relative;
}

/* phần của sổ đầu tiên */

#first {
    position: absolute;
    top: 90px;
    min-height: 590px;
    margin: 0 10px;
    background-image: linear-gradient(0, #2560df, #0E1A34);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide {
    animation: hide .3s linear forwards;
}

@keyframes hide {
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.first__img {
    margin-top: 30px;
    height: 300px;
    width: 300px;
}

#img {
    width: 100%;
    height: 100%;
}

.first__text {
    text-align: center;
    color: #fff;
}

.first__text > h4 {
    font-size: 2.8rem;
}

.first__text p {
    padding: 0 5px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.first__button {
    padding: 15px 15px;
    border-radius: 3px;
    font-size: 1.8rem;
    background-color: rgb(90, 52, 196);
    color: #fff;
}

/*  phần cửa sổ thứ hai */

#second {
    padding: 20px 0;
    display: none;
    text-align: center;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    animation: slideRight 0.3s linear;
}

@keyframes slideRight {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.second__text > h1 {
    font-size: 3.8rem;
    letter-spacing: -5px;
    margin: 0 auto 50px;
}
.second__text > span {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 50px;
    font-weight: bolder;
}

.second__text > p {
    font-size: 1.6rem;
    line-height: 1.3;
}
.second__button {
    margin-top: 100px;
}
.second__button > button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: black;
    border: solid 1px #333;
}
#second__button--yes {
    background-color: rgb(75, 146, 75);
}

#second__button--no {
    background-color: rgb(235, 79, 79);
}

/* phần cửa sổ thứ ba */

#third {
    position: absolute;
    top: 160px;
    margin: 0 10px;
    background-color: #1c2941;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    display: none;
    animation: scale 0.3s linear;
}

@keyframes scale {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.third__text {
    padding: 0 25px;
    font-size: 4rem;
    line-height: 1.3;
}
.third__button {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgb(219, 110, 67);
    color: #fff;
    margin-bottom: 50px;
    font-size: 1.8rem;
}


/* phần cửa sỏo thứ tư */
#final {
    position: absolute;
    top: 230px;
    margin: 0 10px;
    background-color: #1c2941;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    display: none;
    animation: scale 0.3s linear;
}

.final__title {
    font-size: 2.9rem;
    padding: 5px 25px 0;
}

.final__text {
    font-size: 1.7rem;
    margin-top: 0;
}
.final__button {    
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #31a17c;
    color: #fff;
    margin: 15px 0 50px;
}